<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.demo.dao.EmployeeMapper">

    <resultMap id="emp" type="com.yl.demo.bean.Employee">
        <result property="lastName" column="last_name"></result>
    </resultMap>
    <select id="getAllEmp" resultMap="emp">
        select * from tbl_employee
    </select>
</mapper>